asgiref
brotlipy==0.7.0
certifi==2022.5.18.1
cffi
charset-normalizer
cryptography
Django
gunicorn==20.1.0
idna
Pillow==9.1.1
psycopg2
pycparser
pyOpenSSL
PySocks
pytz==2021.3
requests
sqlparse
typing_extensions
urllib3
whitenoise==6.1.0
win-inet-pton
wincertstore==0.2
