<!DOCTYPE html>
{% extends 'basic_app/basic.html' %}
{% load static %}

    {% block body_block %}
    <div>
        {% if registered %}
            <h1>ThankYou for Registering!</h1>
        {% else %}
            <h1>Fill out the form to register ..</h1>
            <form class="form-group" enctype="multipart/form-data"  method="POST">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" value="Register">
            </form>
        {% endif %}
    </div>
    {% endblock %}